In [1]:
import pandas as pd
import numpy as np
import timeit

In [2]:
file_path = "D:/DDP/DebtDistressProject_KGFSdata_v01.xlsx"
start = timeit.default_timer()
df = pd.read_excel(file_path)
stop = timeit.default_timer()
print('Time in seconds: ', stop - start)

KeyboardInterrupt

Questions:
1. If I groupby ['household_id','contributor type','accttype','accttype2','DisbursementDate',
'AccountClosedDate','disbursedqtr','closeqtr','Account_status'] list aggregate the 'instmt_quarter_', will I get the same values in the lists ?

ans: less than 1% of such cases have issues. Easily overcome by taking max

In [33]:
df.total_expense_quarter_

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
539292    10410.0
539293    10000.0
539294    13500.0
539295     7475.0
539296     3225.0
Name: total_expense_quarter_, Length: 539297, dtype: float64

In [10]:
temp = df.groupby( ['household_id','contributor type','accttype','accttype2','DisbursementDate', 'AccountClosedDate','disbursedqtr','closeqtr','Account_status'])['instmt_quarter_'].apply(list)
temp = temp.reset_index()
temp['len_iq'] = temp['_quarter_'].apply(len)
temp['unique_iq'] = temp['instmt_quarter_'].apply(np.unique)\
temp['unique_iq_len'] = temp['unique_iq'].apply(len)

,household_id,contributor type,accttype,accttype2,DisbursementDate,AccountClosedDate,disbursedqtr,closeqtr,Account_status,instmt_quarter_
0,1.0,Dvara KGFS,OTR2,Unsecured Individual Loan,2021-09-22,0000-00-00,2021Q3,-,Open - regular,[2895.0]
1,4.0,Dvara KGFS,JLG Loan,Unsecured Group Loan,2021-01-07,0000-00-00,2021Q1,-,Open - regular,[7275.0]
2,11.0,Dvara KGFS,JLG Loan,Unsecured Group Loan,2021-09-02,0000-00-00,2021Q3,-,Open - regular,[8082.0]
3,15.0,Dvara KGFS,JLG Loan,Unsecured Group Loan,2021-02-06,0000-00-00,2021Q1,-,Open - regular,[6465.0]
4,16.0,Dvara KGFS,JLG Loan,Unsecured Group Loan,2021-12-31,0000-00-00,2021Q4,-,Open - regular,[8082.0]
...,...,...,...,...,...,...,...,...,...,...
538371,1573167.0,Dvara KGFS,Emergency Loan,Unsecured Individual Loan,2022-09-30,0000-00-00,2022Q3,-,Open - regular,[1083.0]
538372,1573168.0,Dvara KGFS,Other Loans,Unsecured Individual Loan,2022-09-30,0000-00-00,2022Q3,-,Open - regular,[4941.0]
538373,1573170.0,Dvara KGFS,Emergency Loan,Unsecured Individual Loan,2022-09-30,0000-00-00,2022Q3,-,Open - regular,[4092.0]
538374,1573171.0,Dvara KGFS,Emergency Loan,Unsecured Individual Loan,2022-09-30,0000-00-00,2022Q3,-,Open - regular,[2046.0]
538375,1573176.0,Dvara KGFS,Emergency Loan,Unsecured Individual Loan,2022-09-30,0000-00-00,2022Q3,-,Open - regular,[3273.0]

In [1]:
sum(df['total_income_of_household'] == df['income_quarter_']) / df.shape[0] * 100

NameError: name 'df' is not defined